.card-style-3 img {
    width: 290px;
    max-height: 200px;
    border: #b49900 solid 5px;
    margin-bottom: 3px;
}
.card-style-3 {
    min-width: 350px;
    max-width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 17px solid gold;
    border-radius: 15px;
    margin: 20px;
    align-content: space-between;
}
.pokemon-header {
    display: flex;
    align-items: flex-end;
    height: 70px;
    width: 290px;
    justify-content: space-between;
    font-size: 18px;
}
.attack {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px black solid;
    width: 285px;
    margin-bottom: 15px;
}
.bold {
    font-weight: bolder;
    font-size: 17px;
}
.details {
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    background: linear-gradient(90deg, #b49900, yellow 40%, #b49900);
    max-height: 13px;
    min-width: 290px;
    max-width: 290px;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 20px;
}
#pokemon-card-1 {
    background: linear-gradient(130deg, #82ed82, green 45%, #82ed82 95%);
}
#pokemon-card-2 {
    background: linear-gradient(130deg, #82ed82, green 45%, #82ed82 95%);
}
#pokemon-card-3 {
    background: linear-gradient(130deg, orange, red 45%, orange 95%);
}
#pokemon-card-4 {
    background: linear-gradient(130deg, lightblue, aquamarine 45%, lightblue 95%);
}
.data {
    display: flex;
    font-size: 12px;
    font-weight: bolder;
    border: solid gold 1.5px;
    width: 275px;
    max-height: 45px;
    margin-bottom: 20px;
}
.energy {
    align-content: center;
}
.power {
    font-size: 23px;
    font-weight: bold;
    align-content: center;
}