* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: "Bebas Neue", sans-serif;
    background: url("../images/a-close-up-of-a-football-field-with-fans-in-the-stands-background-with-empty-space-for-text-free-photo.jpg");
    background-size: cover;
    background-position: center center;
    color: white;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 26px;
    padding: 10px;
}
h3 {
    font-size: 22px
}
p {
    font-size: 20px
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
#scl {
    width: 100vw;
    margin: auto;
}
#top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#top h1 {
    background:linear-gradient(to right, #ff00007a, #ffffff75, #0000ff83);
    width: 100vw;
    text-align: center;
    color:#f8bb21;
}
#matchup {
    display: flex;
    justify-content: space-around;
}
#matchup img {
    width: 200px;
    height: 300px;
}
#left img {
    border: double 10px orange;
}
#left h2 {
    color: orange;
    text-decoration: underline;
}
#left h3 {
    color: darkblue;
}
#right img {
    border: double 10px turquoise;
}
#right h2 {
    color: darkcyan;
    text-decoration: underline;
}
#right h3 {
    color: rgb(255, 166, 0);
}
#left,
#right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bttm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#bttm h1 {
    background: linear-gradient(to right, #0000ff83, #ffffff75, #ff00007a);
    width: 100vw;
}
#bttns {
    display: flex;
}
#bttns a {
    text-decoration: none;
    background-color: cornflowerblue;
    margin: 24px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 40px;
    color: white;
    border: 4px double gold;
    font-size: 14px;
}
#bttns a:hover {
    background-color: blue;
}
#bttns a:active {
    background-color: #f8bb21;
}
@media screen and (max-width: 480px) {
    #matchup {
        flex-direction: column;
        align-items: center;
    }
    #bttns a {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
    }
}