* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: "Press Start 2P", system-ui;
}
#background {
    background-image: url("../images/pexels-anna-nekrashevich-8533749.jpg");
    background-size: cover;
    background-position: center center;
    width: 100vw;
    min-height: 100vh;
    display: grid;
    justify-content: center;
}
#screen {
    display: grid;
    width: 75vw;
    max-height: 150vh;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
    background-color: black;
    min-height: 5vh;
}
#navbar a {
    text-decoration: none;
    color: rgb(0, 198, 0);
}
#navbar a:hover {
    transform: scale(1.2);
}
#h2-gallery {
    text-align: center;
}
#gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 20vw;
    padding: 5px;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px;
}
#gallery img {
    width: 20vw;
    height: 20vh;
    object-fit: cover;
    box-shadow: 5px 5px 5px;
}
#gallery img:hover {
    transform: scale(1.2)
}
#h3-gallery {
    text-align: center;
}
#h3-gallery:hover {
    transform: scale(1.2);
}