* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: "Bebas Neue", sans-serif;
}
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:slateblue;
    min-height: 20px;
    height: 5%;
}
.navbar h1 {
    color:midnightblue;
}
.navbar p {
    background: linear-gradient(130deg, purple, white 20%, orange 40%, red 60%, blue 80%, purple);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    width: 15vw;
}
.center-column {
    background: url("../images/aldebaran-s-uXchDIKs4qI-unsplash.jpg");
    display: flex;
    height: 70%;
    min-height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.center-column h2,
p {
    color: gold;
}
.footer {
    display: flex;
    justify-content: space-evenly;
    min-height: 80vh;
    max-height: 90vh;
    padding-top: 5vh;
    background: url("../images/aldebaran-s-uXchDIKs4qI-unsplash.jpg")
}
.card {
    width: 17%;
    min-width: 125px;
    min-height: 230px;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: transparent 5px solid;
    box-shadow: 5px 7px 7px lavenderblush;
}
.card img {
    max-width: 100px;
    max-height: 100px;
}
.card h3 {
    text-align: center;
    color: limegreen;
}
#card-3 img {
    padding: 24px 0px;
}
#card-1 {
    background-color: blue;
}
#card-2 {
    background-color: blueviolet;
}
#card-3 {
    background-color: blue;
}
.btn {
    margin-top: 5vh;
    text-decoration: none;
    background-color: gold;
    padding: 0px 15px;
    border-radius: 15px;
    border: transparent 5px solid;
}
.btn:hover {
    transform: scale(1.11);
    background-color: lightyellow;
    border: gold 5px solid;
}
.divider p:hover{
    transform: translateX(45%);
    transition-duration: 5s;
}
.gallery-layout {
    min-width: 100vw;
    text-align: center;
    display: grid;
}
.gallery-grid {
   columns: 3 auto;
   padding: 24px;
   background: linear-gradient(180deg, cornflowerblue, purple 55%, blueviolet 85%);
   gap: 24px;
}
.gallery-grid img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 7px 7px lavenderblush;
}
.gallery-grid img:hover {
    transform: scale(1.2);
}
.return {
    background: url("../images/aldebaran-s-uXchDIKs4qI-unsplash.jpg");
    color: gold;
    text-decoration: none;
    background-color: blue;
}
.return:hover {
    transform: scale(1.25);
}
#return {
    text-decoration: none;
}
#return:hover {
    transform: scale(1.25);
}