.card-style-2 {
    width: 350px;
    background-color: white;
    border-radius: 40px;
    margin: 18px;
    max-height: 535px;
    min-height: 535px;
}
.card-style-2:hover {
    transform: translateY(-5px);
    background-color: aqua;
}
.card-style-2 img {
    width: 200px;
    border-radius: 50%;
    margin: 70px;
    margin-top: 35px;
}
.animagram-header {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.logo {
    margin-left: 30px;
}
.brand-name {
    font-size: 30px;
    margin-right: 25px;
    margin-top: 15px;
}
.card-style-2 h2 {
    text-align: center;
    margin-top: -40px;
}
.card-style-2 p {
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}
.animagram-footer {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin-left: 25px;
    margin-right: 25px;
}
