* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0px;
}
#two-columns {
    display: flex;
}
#sidebar {
    width: 250px;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    background-color: #EFEFEF;
    padding: 24px;
    max-height: 300px;
}
#contents-list {
    list-style-type: none;
    padding: 0px;
}
#contents-list ul li {
    padding: 4px 0px;
}
#li-1,
#li-2,
#li-3,
#li-4,
#li-5,
#li-6,
#li-7 {
    text-decoration: none;
    color: #111111;
}
#sidebar h2 {
    border-bottom: 2px solid black;
    padding-bottom: 8px;
}
#main-content {
    order: 2;
    padding: 24px;
    flex: 1;
    max-width: 950px;
}
#main-content h1 {
    border-bottom: 2px solid black;
}
#main-content h3 {
    border-bottom: .5px solid gray;
}
#p1 {
    font-style: italic; padding-left: 12px;
}