* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0px;
}
#two-columns {
    display: flex;
}
#sidebar {
    width: 250px;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    background-color: #EFEFEF;
    list-style-type: none;
}
#sidebar h2 {
    border-bottom: 2px solid black;
    padding-bottom: 8px;
}
#main-content {
    order: 2;
    padding: 24px;
    flex: 1;
    max-width: 950px;
}
#span-1 {
    padding-bottom: 5px;
}