* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav {
    display: flex;
    background-color: #222222;
    justify-content: center;
}
.nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 20px;
}
.single-column {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
}
.intro {
    display: flex;
    align-items: center;
    gap: 48px;
}
.img-cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}
.img-cont,
.content-cont {
    flex: 1;
}
.img-cont {
    height: 400px;
}
.content-cont h1 {
    font-size: 48px;
    color: #ffb700;
}
@media screen and (max-width: 480px){
    body {
        background-color: firebrick;
    }
    .nav {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .intro {
        flex-direction: column;
        gap: 24px;
    }
    .content-cont h1 {
        margin: 0px;
        font-size: 32px;
    }
    .content-cont {
        text-align: center;
    }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
    body {
        background-color: skyblue;
    }
    .content-cont h1 {
        font-size: 32px;
    }
    .intro {
        gap: 24px;
    }
}  