@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: "Pacifico", cursive;
}
p {
    font-family: "Amatic SC", sans-serif;
}
.cc {
    display: flex;
    justify-content: center;
}
.cc a {
    font-size: 35px;
}
.footer-content {
    padding: 30px;
    border: gold double 10px;
}
.navtop {
    border: double #aa2e2e 10px;
}
.navbtm {
    background: linear-gradient(90deg, goldenrod, gold 5%, goldenrod 10%, gold 15%, goldenrod 20%, gold 25%, goldenrod 30%, gold 35%, goldenrod 40%, gold 45%, goldenrod 50%, gold 55%, goldenrod 60%, gold 65%, goldenrod 70%, gold 75%, goldenrod 80%, gold 85%, goldenrod 90%, gold 95%, goldenrod 100%);
}
.cc a {
    text-decoration: none;
    color: #4553A3;
    border-radius: 100%;
    padding-left: 100px;
    padding-right: 100px;
}
.navtop a:hover {
    transform: scale(1.25);
    color: #aa2e2e;
}
.navtop a:active {
    color: gold;
}
.navbtm a:hover {
    background-color: #aa2e2e;
    color: gold;
    box-shadow: 2px 2px 6px #aa2e2e;
    border: 5px double gold;
}
#item1,
#item14,
#item10,
#item5 {
    width: 100vw;
    background-color: gold;
}
#item1 a,
#item14 a,
#item10 a,
#item5 a {
    background-color: #aa2e2e;
    color: goldenrod;
}
#item1 a:active,
#item14 a:active,
#item10 a:active,
#item5 a:active {
    background-color: green;
}
#item1 img,
#item14 img,
#item10 img,
#item5 img {
    width: 80vw;
    height: fit-content;
    border-radius: 0px;
}
#item1 h3,
#item5 h3,
#item10 h3,
#item14 h3 {
    border-top: 2px solid black;
}
.navbtm a:active {
    background-color: #4553A3;
    box-shadow: 4px 4px 4px inset #00000033;
}
.navbtm a {
    border: 5px transparent solid;
}
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    background: url("../images/high-angle-arepas-wooden-tray.jpg");
    background-position: center;
    background-size: cover;
}
#hero a {
    text-decoration: none;
    color: gold;
    font-size: 30px;
}
#hero:hover {
    border: gold double 5px;
}
#hero a:hover {
    transform: scale(1.2);
    color: #aa2e2e;
}
#hero a:active {
    color: #4553A3;
}
#hero2 {
    display: flex;
    height: 35vh;
    background: url("../images/e1a2dfb7-8dd1-4218-8a34-acfee78bed85.jpg.avif");
    background-position: center;
    background-size: cover;
    justify-content: space-around;
    align-items: center;
}
#hero2 h3 {
    color: white;
    font-size: 20px;
}
#hero3 {
    display: flex;
    flex-direction: column;
    height: 35vh;
    background: url("../images/vibrant-abstract-painting-inspired-by-600nw-2441172959.jpg.webp");
    background-position: center;
    background-size: cover;
    justify-content: space-around;
    align-items: center;
}
#hero3 h2,
#hero3 h1 {
    color: white;
    margin: 0px;
}
#hero3 h1 {
    margin-top: 20px;
}
#hero3 {
    border-top: 10px double gold;
    border-bottom: 10px double gold;
}
#hero3 h1 {
    font-size: 20px
}
.cardlayout a {
    text-decoration: none;
}
.cardlayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: url("../images/top-view-brazilian-food-with-copy-space.jpg");
    background-size: cover;
    background-position: center;
    padding: 24px;
}
.card {
    text-align: center;
    padding: 30px;
    background-color: bisque;
    box-shadow: inset 0px 0px 10px goldenrod;
    width: 300px;
    border: 10px double #aa2e2e;
    margin-top: 40px;
}
.content {
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
.content a {
    background-color: gold;
    padding: 14px;
    border: 5px goldenrod double;
    color: goldenrod;
}
.content a:hover {
    background-color: #aa2e2e;
}
.content a:active {
    background-color: green;
    box-shadow: 4px 4px 4px inset #00000033;
}
.footer {
    background-color: #4553A3;
    text-align: center;
}
.footer p {
    margin: 0px;
}
.footer-list {
    display: flex;
    justify-content: space-evenly;
}
.footer-list a {
    text-decoration: none;
    color: black;
    padding-top: 12px;
    padding-bottom: 16px;
}
#times {
    background-color: gold;
    margin: 0px;
    text-align: center;
    font-style: italic;
    height: 40px;
    align-content: center;
    font-size: 30px;
}
.content h2 {
    border-bottom: 1px solid black;
}
.content p {
    height: 80px;
}
.item-co {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: url("../images/top-view-brazilian-food-with-copy-space.jpg");
    background-size: cover;
    background-position: center;
}
.itemcc {
   display: flex;
   flex-wrap: wrap;
   margin: auto;
}
.mhd {
    background-color: #aa2e2e;
    color: gold;
    padding-top: 12px;
    padding-bottom: 12px;
    border: gold double 7px;
}
.text {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    width: 260px;
    padding: 24px;
    margin: 24px;
    border: 5px double #aa2e2e;
}
.text img {
    width: 100%;
    height: 190px;
    margin: auto;
    border-radius: 50%;
    border: double 5px #4553A3;
}
.text h2 {
    border-bottom: 2px black solid;
}
.text a {
    text-decoration: none;
    color: #aa2e2e;
    display: inline-block;
    background-color: gold;
    border: 5px double #4553A3;
}
.text a:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 4px #00000033;
    background-color: #4553A3;
    color: gold;
    border: 5px double gold;
}
.text a:active {
    box-shadow: 4px 4px 4px inset #00000033;
    background-color: green;
}
.text p {
    font-style: italic;
}
#item1,
#item5,
#item10,
#item14 {
    margin: auto;
}
.bttn {
    display: flex;
}
.bttn a {
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    border: 5px double goldenrod;
    text-decoration: none;
    background-color: bisque;
}
.bttn h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.bttn a:hover {
    background-color: gold;
    border: #aa2e2e 5px double;
}
.bttn a:active {
    background-color: green;
    color: gold;
}
@media screen and (max-width: 646px) {
    #hero a {
        font-size: 24px;
    }
    #hero2 h3 {
        font-size: 20px;
    }
    #hero3 h1 {
        font-size: 16px;
    }
    #hero3 h2 {
        font-size: 14px;
    }
    .cc a {
        font-size: 12px;
    }
}
@media screen and (max-width: 924px) {
    .itemcc {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}